

.verna{
	font-family: 'Noto Serif Khojki', serif;
	font-family: 'Permanent Marker', cursive;
	color:#FFFFFF;
	margin-bottom:1px ;
	margin-top: 30px;
	font-size: 60px;
}
.vernasub{
	font-family: 'Noto Serif Khojki', serif;
	font-family: 'Permanent Marker', cursive;
	color:#FFFFFF;
	font-size: 28px;}


.foot{
	color:#FFFFFF;
	margin-bottom:15px ;
	margin-top: 20px;
	font-size: 15px;
	justify-content: center;
	;
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

a{
	text-decoration: none;
}